<div class="row">
  <div class="col-md-offset-3 col-md-6 col-md-offset-3">
    <h2>Try it out!</h2>
    <blockquote cite="http://google.com">
      <p id="clickbait">Click the button below.</p>
      <footer id="clickbait-footer">Quality Journalism</footer>
    </blockquote>
    <div class="row">
      <div class="col-md-10">
        <button id="generate-button" type="button" class="btn btn-primary btn-block" name="button">Generate!</button>
      </div>
      <div class="col-md-2">
        <a id="tweet" href="#" class="btn btn-info btn-block" target="_blank"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </div>
</div>
