<div class="row">
  <div class="col-md-12">
    <h2>Docs</h2>
    <p>Developers hate him! Local man ruins internet using these 2 easy HTTP requests.</p>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Random Title</h3>
      </div>

      <div class="panel-body">
        <div class="panel panel-info">
          <div class="panel-heading">
            <span>GET</span>
          </div>

          <div class="panel-body">
            <code>https://clickbait-generator.herokuapp.com/api</code>
          </div>
        </div>

        <div class="panel panel-success">
          <div class="panel-heading">
            <span>Response</span>
          </div>

          <div class="panel-body">
            <div class="row panel-content">
              <div class="col-md-2">
                <span>application/json</span>
              </div>

              <div class="col-md-10">
                <code>{ "title": "Nothing to do this weekend? Then check out our top 39 ways to circumvent intellectual property law." }</code>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Fixed Number</h3>
      </div>

      <div class="panel-body">
        <div class="panel panel-info">
          <div class="panel-heading">
            <span>GET</span>
          </div>

          <div class="panel-body">
            <code>https://clickbait-generator.herokuapp.com/api/10</code>
          </div>
        </div>

        <div class="panel panel-success">
          <div class="panel-heading">
            <span>Response</span>
          </div>

          <div class="panel-body">
            <div class="row panel-content">
              <div class="col-md-2">
                <span>application/json</span>
              </div>

              <div class="col-md-10">
                <code>{ "title": "Nothing to do this weekend? Then check out our top 10 ways to circumvent intellectual property law." }</code>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
