<footer class="navbar navbar-default navbar-fixed-bottom text-center">
  <div class="container text-muted">
    <span>Makers Academy week 6 weekend challenge</span> --
    <span>Made with a thiny-veiled disdain for yellow journalism by <a href="https://github.com/tbscanlon">Tom.</a></span>
  </div>
</footer>
