<div class="row">
  <div class="col-md-12">
    <h2>Sources</h2>
    <p>Get the source code on <a href="https://github.com/tbscanlon/side-project-challenge">Github</a>.</p>
    <p>CSV files for the clickbait can be found <a href="/csv/prefixes.csv">here</a> and <a href="/csv/suffixes.csv">here</a>.</p>
  </div>
</div>
