<div class="row">
  <div class="col-md-12">
    <h1>Clickbait Generator<small><br>a useless API</small></h1>
  </div>
</div>

<%= partial(:'partials/introduction') %>
<%= partial(:'partials/clickbait_button') %>
<%= partial(:'partials/docs') %>

<div class="row">
  <div class="col-md-12">
    <h2>Why?</h2>
    <p><a href="https://www.buzzfeed.com/bensmith/why-buzzfeed-doesnt-do-clickbait">Because.</a></p>
  </div>
</div>
