<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Clickbait Generator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
    $( document ).ready(function() {
      $("h1").click(function () {
        $(this).slideUp();
      });

      $("#generate-button").click(function () {
        $.get("/api", function (clickbait) {
          $("#clickbait").html(clickbait.title);
        });
      });
    });
    </script>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
